@model HoangViet.Models.Orders.Order

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "CustomerId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerId", String.Empty)
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDate)
                @Html.ValidationMessageFor(model => model.OrderDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddressId, "BillingAddressId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BillingAddressId", String.Empty)
                @Html.ValidationMessageFor(model => model.BillingAddressId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingAddressId, "ShippingAddressId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ShippingAddressId", String.Empty)
                @Html.ValidationMessageFor(model => model.ShippingAddressId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderStatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderStatusId)
                @Html.ValidationMessageFor(model => model.OrderStatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingStatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingStatusId)
                @Html.ValidationMessageFor(model => model.ShippingStatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentStatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentStatusId)
                @Html.ValidationMessageFor(model => model.PaymentStatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentMethod, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentMethod)
                @Html.ValidationMessageFor(model => model.PaymentMethod)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VatNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VatNumber)
                @Html.ValidationMessageFor(model => model.VatNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderSubtotalInclTax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderSubtotalInclTax)
                @Html.ValidationMessageFor(model => model.OrderSubtotalInclTax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderSubtotalExclTax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderSubtotalExclTax)
                @Html.ValidationMessageFor(model => model.OrderSubtotalExclTax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderShippingInclTax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderShippingInclTax)
                @Html.ValidationMessageFor(model => model.OrderShippingInclTax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderShippingExclTax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderShippingExclTax)
                @Html.ValidationMessageFor(model => model.OrderShippingExclTax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaxRates, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaxRates)
                @Html.ValidationMessageFor(model => model.TaxRates)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderTax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderTax)
                @Html.ValidationMessageFor(model => model.OrderTax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderTotal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderTotal)
                @Html.ValidationMessageFor(model => model.OrderTotal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidDateUtc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidDateUtc)
                @Html.ValidationMessageFor(model => model.PaidDateUtc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderStatus)
                @Html.ValidationMessageFor(model => model.OrderStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentStatus)
                @Html.ValidationMessageFor(model => model.PaymentStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingStatus)
                @Html.ValidationMessageFor(model => model.ShippingStatus)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
