@model HoangViet.Models.Catalog.Product
<div class="box-body">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#product-info" data-toggle="tab">Thông tin sản phẩm</a></li>
            <li><a href="#seo-info" data-toggle="tab">Thông tin SEO</a></li>
            <li><a href="#picture-info" data-toggle="tab">Hình ảnh sản phẩm</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="product-info">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName)
                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShortDescription)
                    @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FullDescription)
                    @Html.TextAreaFor(model => model.FullDescription, new { rows = "10", cols = "80" })
                    @Html.ValidationMessageFor(model => model.FullDescription, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, "Danh mục hàng hóa")
                    @Html.DropDownList("CategoryId", null, "[None]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DisplayOrder)
                    @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AdditionalShippingCharge)
                    @Html.TextBoxFor(model => model.AdditionalShippingCharge, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AdditionalShippingCharge, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StockQuantity)
                    @Html.TextBoxFor(model => model.StockQuantity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StockQuantity, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Price)
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="">
                            @Html.CheckBoxFor(model => model.IsShipEnabled, new { style = "position: absolute; opacity: 0;" })
                            Có giao hàng
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.IsShipEnabled, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="">
                            @Html.CheckBoxFor(model => model.IsFreeShipping, new { style = "position: absolute; opacity: 0;" })
                            Giao hàng miễn phí
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.IsFreeShipping, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="">
                            @Html.CheckBoxFor(model => model.IsFeaturedProduct, new { style = "position: absolute; opacity: 0;" })
                            @Html.DisplayNameFor(model => model.IsFeaturedProduct)
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.IsFeaturedProduct, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="">
                            @Html.CheckBoxFor(model => model.Published, new { style = "position: absolute; opacity: 0;" })
                            Cho hiển thị
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="">
                            @Html.CheckBoxFor(model => model.ShowOnHomePage, new { style = "position: absolute; opacity: 0;" })
                            Cho hiển thị trên trang chủ
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.ShowOnHomePage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="tab-pane" id="seo-info">
                <div class="form-group">
                    @Html.LabelFor(model => model.MetaTitle)
                    @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MetaKeywords)
                    @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MetaKeywords, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MetaDescription)
                    @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="tab-pane" id="picture-info">
               
                <div id="picture" class="row">
                    @if (Model != null && !string.IsNullOrEmpty(Model.ImageLink))
                    {
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a class="close" href="#">×</a>
                                <img src="@Model.ImageLink" style="width:100px;height:100px" />

                            </div>
                        </div>
                    }
                    else
                    {

                        <span>Nhấn nút duyệt để chọn ảnh</span>
                    }
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageLink)
                    @Html.TextBoxFor(model => model.ImageLink, new { @class = "form-control", @readonly = true, placeholder = "image link" })
                    @Html.ValidationMessageFor(model => model.ImageLink, "", new { @class = "text-danger" })

                </div>
                <button type="button" class="btn btn-primary" id="imageUpload">Duyệt </button>
            </div>
        </div>
    </div>


</div>
<!-- /.box-body -->
<div class="box-footer">
    <input type="submit" value="Save" class="btn btn-primary" />    |
    @Html.ActionLink("Quay lại danh sách", "Index", new { controller = "product", area = "catalog" }, new { @class = "btn btn-primary" })
</div>
