@using PagedList.Mvc;
@using PagedList;
@model IPagedList<HoangViet.Models.Catalog.Product>

@{
    ViewBag.Title = "Index";
    var i = 1;
}

<div class="box-header">
    <h3 class="box-title">
        <a class="btn btn-primary btn-flat" href="@Url.Action("create")">
            <i class="fa fa-pencil"> </i> Tạo mới sản phẩm
        </a>
    </h3>

</div>
<div class="box-body table-responsive no-padding">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Số thứ tự
                </th>
                <th>Sản phẩm
                </th>
                <th>Hình đại diện
                </th>
                <th>Danh mục
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockQuantity)
                </th>*@
                <th>Thự tự hiển thị
                </th>
                <th>Hiển thị trang chủ
                </th>
                <th>Hiển thị
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        <img src="@item.ImageLink" alt="Image" style="width:100px;height:100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockQuantity)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShowOnHomePage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Published)
                    </td>
                    <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-flat" }) |
                            @Html.ActionLink("Xem", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-flat" }) |
                            <button class="btn btn-danger btn-flat" data-toggle="modal" data-target="#myModal-@i">
                                Xóa
                            </button>

                            <div class="modal fade" id="myModal-@i" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Bạn có chắc?</h4>
                                        </div>
                                        <div class="modal-body">
                                            Bạn muốn xóa hàng hóa này?
                                        </div>
                                        <div class="modal-footer">

                                            @using (Html.BeginForm("Delete", "Category", new { area = "catalog", id = @item.Id }, FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()

                                                <div class="form-actions no-color">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                                                    |
                                                <input type="submit" value="Có" class="btn btn-danger btn-flat" />
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>                       
                    </td>
                </tr>
                        i++;
            }
        </tbody>
    </table>
    <div class="text-center">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
</div>

