@model HoangViet.ViewModels.Accounts.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<ul class="breadcrumb">
    <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
    <li class="active">Quên mật khẩu</li>
</ul>
<h3> BẠN QUÊN MẬT KHẨU?</h3>
<hr class="soft" />

<div class="row">
    <div class="span9" style="min-height:900px">
        <div class="well">
            <h5>Khôi phục lại mật khẩu của bạn</h5><br />
          Hảy gửi địa chỉ email của bạn để chúng tôi cung cấp link khôi phục lại mật khẩu của bạn vào địa chỉ email đó!
            <br /><br /><br />
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true,"", new { @class = "text-danger" })
               <div class="control-group">
                   @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "",  new { @class = "text-danger" })
                    </div>
                </div>
                <div class="controls">
                    <button type="submit" class="btn block">Gửi</button>
                    @*<input type="submit" class="btn btn-default" value="" />*@
                </div>
                
            }
          
        </div>
    </div>
</div>




