@model HoangViet.Models.Shipping.ShippingMethod

@{
    ViewBag.Title = "Edit";
}

<div class="box-header">
    <h3 class="box-title">
        Cập nhật phương thức giao hàng
    </h3>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    @Html.Partial("_CreateOrEdit", Model)
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
